@import "{}/client/stylesheets/globals";

.home {

.welcome-box {
  background-color: $brand-primary;
  height: 200px;
  position: relative;
  @include z-depth-1;

  .content {
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    color: white;
    font-weight: 600;
  }


}

.queue-info {
  padding-top: 20px;
  .badge {
    background-color: $brand-secondary;
  }
}

.facilities {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 20px;
  .buttons {
    padding-bottom: 20px;
    text-align: center;
    button {
      margin-left: 10px;
      margin-right: 10px;
      color: $brand-secondary;
      border-radius: 8px;
      border: 4px solid $brand-secondary;
      background-color: white;
      font-size: 48px;
    }
  }
}

}