@import "{}/client/stylesheets/globals";

.dashboard {
  .welcome-box {
    height: 100px;

    .content {
      font-size: 22px;
    }

  }

  .dashboard-apps {
    margin-top: 30px;
    margin-bottom: 80px;

    .dashboard-button {
      text-align: center;
      background: $brand-secondary;
      height: 100px;
      color: white;
      margin-bottom: 30px;
      padding: 20px;
      @include z-depth-1;

      i {
        font-size: 32px;
        display: block;
        margin-bottom: 15px;
      }

      &.treatment {
        background-color: #8BC34A;
      }

      &.contact {
        background-color: #e91e63;
      }

      &.journal {
        background-color: #607D8B;
      }
    }
  }

  .brand {
    position: fixed;
    bottom: 15px;
    width: 100%;
    text-align: center;

    img {
      width: 70px;
    }
  }
}
@media (max-width: $screen-phone-max) {}
