@import "{}/client/stylesheets/globals";

.buttonbar {
	.navbar {
		min-height: 0;
	}

	.navbar-default {
		background-color: $brand-primary;
		border-color: transparent;
	}

	button.btn-default.btn {

		font-size: 25px;
		background-color: $brand-primary;
		border-color: transparent;
		color: $white-color;
	}

	.btn-group:first-child:not(:last-child) .btn:last-child {
		border-right-color: $white-color;
	}

}
