@import "{}/client/stylesheets/globals";

.blooddraw {
  .welcome-box {
    height: 100px;
    font-size: 18px;
  }

  .people-box {
    margin-top: 10px;

    font-size: 18px;
    background-color: white;
    border-radius: 8px;

    .caption {
      padding: 5px;
      text-align: bottom;
      font-size: 24px;

       .queue-info {
         padding-top: 30px;
         font-size: 24px;
          padding-top: 40px;

        .badge {
           padding: 3px 12px 7px;
           font-size: 18px;
           font-weight: 800;
           background-color: #4CAF50;
    }
  }

    }

    .people {
      overflow-x: auto;
      white-space: nowrap;
      .nurse {
        display: inline-block;
        height: 160px;
        .nurse-box {
          height: 400px;
          margin-right: 20px;
          .map-img {
            img {
              width: 200px;

            }
          }
          .name {
            text-align: center;
          }
        }
      }
    }
  }

}
