@import "{}/client/stylesheets/globals";

.contact {
  .welcome-box {
    height: 100px;

    .content {
      font-size: 36px;
    }

  }

  .large-button-list {
    padding-top: 35px;

    .large-button {
      height: 75px;
    }

    .large-button.emergency {
      border-color: white;
      background-color: $brand-danger;
      color: white;

      i {
        color: white;
      }
    }
  }

}
@media (max-width: $screen-phone-max) {}
