@import "{}/client/stylesheets/globals";

.station-desk {
  padding-bottom: 80px;

  .welcome-box {
    height: 120px;

    .content {
      font-size: 18px;
    }
  }

  .people-box {
    margin-top: 30px;
    background-color: white;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 15px;

    .caption {
      padding: 5px;
      text-align: center;
      //font-size: 15px;
      font-weight: 600;
    }

    .people {
      padding-left: 20px;
      overflow-x: auto;
      white-space: nowrap;

      .nurse {
        display: inline-block;

        .nurse-box {
          height: 100px;
          margin-right: 20px;

          .nurse-img {
            img {
              margin: 10px;
              width: 60px;
              border: 2px solid white;
              border-radius: 50%;
            }
          }

          .name {
            text-align: center;
          }
        }
      }
    }
  }

  .service-box {
    margin-top: 30px;
    font-size: 18px;
    background-color: white;
    border-radius: 8px;

    .caption {
      padding: 5px;
      text-align: center;
    }

    .services-container {
      position: relative;
      width: 100%;
      height: 100px;

      .services {
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        position: absolute;
        width: 300px;
        height: 100px;
        white-space: nowrap;

        .left {
          margin: 0;
          width: 100px;
          height: 100px;
          display: inline;
          text-align: center;

          button {
            width: 80px;
            margin: 5px;
            color: white;
            border-radius: 8px;
            border: 4px solid $brand-secondary;
            background-color: $brand-secondary;
            @include z-depth-1;

            i {
              font-size: 48px;
            }
          }
        }

        .center {
          width: 100px;
          height: 100px;
          display: inline;

          .center-row {
            display: inline-block;
            text-align: center;

            button {
              padding: 4px 3px 3px;
              width: 30px;
              height: 30px;
              margin: 5px;
              color: white;
              border-radius: 8px;
              border: 4px solid $brand-secondary;
              background-color: $brand-secondary;
              @include z-depth-1;

              i {
                font-size: 16px;
              }
            }
          }
        }

        .right {
          width: 100px;
          height: 100px;
          display: inline;
          text-align: center;

          button {
            width: 80px;
            margin: 10px;
            color: white;
            border-radius: 8px;
            border: 4px solid $brand-secondary;
            background-color: $brand-secondary;
            @include z-depth-1;

            i {
              font-size: 48px;
            }
          }
        }
      }
    }
  }

}
